artifacts/vivaz_wasm_publish_simple/Vivaz.WASM.dll filter=lfs diff=lfs merge=lfs -text
src/Vivaz.Demonstracao/wwwroot/vivaz-wasm/Vivaz.WASM.dll filter=lfs diff=lfs merge=lfs -text
artifacts/vivaz_wasm_publish/Vivaz.WASM.dll filter=lfs diff=lfs merge=lfs -text
